axis1-webservice/webapp/wsdl/BusinessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.axis1.neos.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.axis1.neos.org" xmlns:intf="http://service.ws.axis1.neos.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.axis1.neos.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getMessageService">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMessageServiceResponse">
    <complexType>
     <sequence>
      <element name="getMessageServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMessageServiceRequest">

      <wsdl:part element="impl:getMessageService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMessageServiceResponse">

      <wsdl:part element="impl:getMessageServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BusinessService">

      <wsdl:operation name="getMessageService">

         <wsdl:input message="impl:getMessageServiceRequest" name="getMessageServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMessageServiceResponse" name="getMessageServiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BusinessServiceSoapBinding" type="impl:BusinessService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMessageService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMessageServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMessageServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BusinessServiceService">

      <wsdl:port binding="impl:BusinessServiceSoapBinding" name="BusinessService">

         <wsdlsoap:address location="http://localhost:8080/axis1-webservice/services/BusinessService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
